  $pog-color: #eb8106;
  $scale:100%;

  @mixin pog-heigh-width($props) {
      @if ($props==0) {
          height: $scale;
          width: $scale;
      }

      @else if($props==1) {
          height: $scale;
      }

      @else if($props==2) {
          width: $scale;
      }

  }

  @mixin pog-relative-absolute($props) {
      @if ($props==0) {
          position: relative;
      }

      @else if($props==1) {
          position: absolute;
      }
  }

  @mixin pog-white($props) {
      @if ($props==0) {
          color: rgba(255, 255, 255, 0.8);
      }

      @else if($props==1) {
          color: rgba(255, 255, 255, 0.4);
      }

      @else if($props==2) {
          color: #ffffff;
      }

      @else if($props==3) {
          color: rgba(255, 255, 255, 0.6);
      }
  }

  @mixin pog-cursor($props) {
      @if ($props==0) {
          cursor: default;
      }

      @else if($props==1) {
          cursor: pointer;
      }
  }

  @mixin pog-display($props) {
      @if ($props==0) {
          display: flex;
          align-items: center;
          justify-content: center;
      }

      @else if ($props==1) {
          display: none;
      }

      @else if($props==2) {
          display: flex;
          align-items: center;
      }

      @else if($props==3) {
          display: flex;
          justify-content: space-between;
      }

      @else if($props==4) {
          display: flex;
      }

      @else if($props==5) {
          display: block;
      }

      @else if($props==6) {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
      }


      @else if($props==7) {
          display: grid;
      }


      @else if($props==8) {
          display: flex;
          align-items: center;
          justify-content: flex-end;
      }


      @else if($props==9) {
          display: grid;
          align-items: center;
          justify-content: center;
      }

  }

  @mixin pog-font($props) {
      @if($props==0) {
          font-family: SF Pro Display;
          font-style: normal;
          font-weight: normal;
      }

      @else if($props==1) {
          font-family: SF Pro Display;
          font-style: normal;
          font-weight: bold;
      }
  }

  @mixin pog-opacity($props) {
      @if($props==0) {
          opacity: 0;
      }

      @else if($props==1) {
          opacity: 1;
      }

      @else if($props==2) {
          opacity: 0.5;
      }
  }


  @mixin pog-font-size-line-height($props) {
      @if($props==0) {
          font-size: 18px;
          line-height: 21px;
      }

      @else if ($props==1) {
          font-size: 16px;
          line-height: 19px;
      }

      @else if ($props==2) {
          font-size: 14px;
          line-height: 21px;
      }

      @else if($props==3) {
          font-size: 12px;
          line-height: 14px;
      }

      @else if($props==4) {
          font-size: 14px;
          line-height: 17px;
      }
  }


  @mixin pog-list-style-type($props) {
      @if($props==0) {
          list-style-type: none;

      }
  }

  @mixin pog-margin-padding($props) {
      @if($props==0) {
          margin: 0;
          padding: 0;
      }
  }

  @mixin pog-background-repeat-size($props) {
      @if ($props==0) {
          background-repeat: no-repeat;
          background-size: contain;
      }

      @if ($props==1) {
          background-repeat: no-repeat;
          background-size: cover;
      }

  }


  @mixin pog-border-radius($props) {
      @if ($props==0) {
          border-radius: 6px;
      }

      @else if ($props==1) {
          border-top-right-radius: 6px;
      }

      @else if ($props==2) {
          border-top-left-radius: 6px;
      }

      @else if ($props==3) {
          border-bottom-right-radius: 6px;
      }

      @else if ($props==4) {
          border-bottom-left-radius: 6px;
      }

      @else if ($props==5) {
          border-radius: 16px;
      }

      @else if ($props==6) {
          border-top-right-radius: 16px;
      }

      @else if ($props==7) {
          border-top-left-radius: 16px;
      }

      @else if ($props==8) {
          border-bottom-right-radius: 16px;
      }

      @else if ($props==8) {
          border-bottom-left-radius: 16px;
      }

  }